<form action="" method="post">
    {% csrf_token %}
    <input type="text" id="text" name="first_name" class="form-control" placeholder="Firsrt_name"  style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <br>
    <input type="text" id="text" name="last_name" class="form-control" placeholder="Last_name" style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <input type="text" id="text" name="userName" class="form-control" placeholder="username" style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <br>
    <input type="text" id="text" name="mobileNumber" class="form-control" placeholder="Mobilenumber"  style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <br>
    <input type="text" id="text" name="email_address" class="form-control" placeholder="Email_address"  style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <input type="text" id="text" name="password" class="form-control" placeholder="Password"  style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <label for="floatingInput">Joined for</label>



    <input type="submit" class="form-control" style="text-align: center;background-color: rgb(139, 226, 171)">
    <!-- <button type="button" class="btn btn-primary btn-block" style="background-color: rgb(62, 94, 161);">Sign Up</button> -->
   
</form>