<form method="post">
    {% csrf_token %}
    <input type="text" id="text" name="userName"  class="form-control" placeholder="Firsrt_name"  style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <br>
    <input type="password" id="text" name="passWord" class="form-control" placeholder="Last_name" style="text-align: center; border: 1px solid rgb(35, 97, 35);">
    <br>


    <input type="submit" class="form-control" style="text-align: center;background-color: rgb(139, 226, 171)">
   
</form>